<h4>Currently registered contracts at Sun Travels</h4>
<div class="contractList" style="text-align: left">
  <li *ngFor="let contract of contractList">
    <br>
    <table>
      <tr>
        <td style="text-align:left">Contract ID</td>
        <td> :</td>
        <td style="text-align: left">{{contract.contractID}}</td>
      </tr>
      <tr>
        <td style="text-align:left">Hotel Name</td>
        <td> :</td>
        <td style="text-align: left">{{contract.hotelName}}</td>
      </tr>
    </table>
    <hr>
  </li>
</div>
