<div id="wrapper">
  <div id="search" class="roomTypes" style="text-align: left">
    <h4>Search Room Types</h4>
    <form>
      <table>
        <tr>
          <td style="text-align: left">
            <input type="text" class="txt" placeholder="Name or Alias.." [(ngModel)] = "alias" name="alias-or-name">
          </td>
          <td style="text-align: left">
            <input type="submit" class="btn" (click)="getRoomTypesByAlias()" value="Search">
          </td>
        </tr>
      </table>
    </form>
  </div>

  <div id="list" class="roomTypeListByAlias" style="text-align: left" *ngIf="requestValidity == true && roomTypeList?.length > 0">
    <li *ngFor="let rt of roomTypeList">
      <br>
      <table>
        <tr>
          <td style="text-align:left">Room Type ID</td>
          <td> :</td>
          <td style="text-align: left">{{rt.roomTypeID}}</td>
        </tr>
        <tr>
          <td style="text-align:left">Room Type Name</td>
          <td> :</td>
          <td style="text-align: left">{{rt.roomTypeName}}</td>
        </tr>
      </table>
      <hr>
    </li>
  </div>

  <div id="empty-list" class="emptyRoomTypeList" *ngIf="requestValidity == true && roomTypeList?.length == 0" style="text-align: left">
    <table>
      <tr>
        <td style="text-align:left">No matching room types exist for the given name</td>
      </tr>
    </table>
  </div>

  <div id="missing-values" class="error" *ngIf="requestValidity == false" style="text-align: left">
    <table>
      <tr>
        <td style="text-align:left">{{message}}</td>
      </tr>
    </table>
  </div>

</div>

