li{
  list-style-type: none;
}

.roomTypeListByAlias
{
  max-height: 400px;
  overflow-y: scroll;
}

#wrapper {
  width:1500px;
  clear:both;
}
#search {
  width:600px;
  float:left;
}
#list {
  margin-top: 45px;
  width:600px;
  float:left;
}

