<div class="addNewHotel" style="text-align: left">
  <h3>Add new hotel to Sun Travels</h3>
  <form>
    <table>
      <tr>
        <td style="text-align:left">Hotel Name</td>
        <td> :</td>
        <td style="text-align:left"><input type="text" class="txt" [(ngModel)]="hotel.hotelName" name="h_name"></td>
      </tr>
      <tr>
        <td style="text-align:left">Phone Number</td>
        <td> :</td>
        <td style="text-align:left"><input type="number" class="txt" [(ngModel)]="hotel.hotelPhoneNumber"
                                           name="h_phone_no"></td>
      </tr>
      <tr>
        <td style="text-align:left">Country Name</td>
        <td> :</td>
        <td style="text-align:left"><input type="text" class="txt" [(ngModel)]="hotel.countryName" name="h_country">
        </td>
      </tr>
      <tr>
        <td style="text-align:left">City Name</td>
        <td> :</td>
        <td style="text-align:left"><input type="text" class="txt" [(ngModel)]="hotel.cityName" name="h_city"></td>
      </tr>
      <tr>
        <td style="text-align: left">
          <input type="submit" class="btn" (click)="addHotel()" value="Add">
        </td>
      </tr>
    </table>
  </form>
</div>

<hr>

<div class="insertedHotel" *ngIf="h_response.insertingStatus == true"
     style="text-align: left">
  <h3>Response</h3>
  <table>
    <tr>
      <td style="text-align: left">Inserting Status</td>
      <td> :</td>
      <td>{{h_response.insertingStatus}}</td>
    </tr>
    <tr>
      <td style="text-align: left">Hotel ID</td>
      <td> :</td>
      <td>{{h_response.entity.hotelID}}</td>
    </tr>
    <tr>
      <td style="text-align: left">Hotel Name</td>
      <td> :</td>
      <td>{{h_response.entity.hotelName}}</td>
    </tr>
    <tr>
      <td style="text-align: left">Hotel Phone Number</td>
      <td> :</td>
      <td>{{h_response.entity.hotelPhoneNumber}}</td>
    </tr>
    <tr>
      <td style="text-align: left">Country ID</td>
      <td> :</td>
      <td>{{h_response.entity.countryID}}</td>
    </tr>
    <tr>
      <td style="text-align: left">City ID</td>
      <td> :</td>
      <td>{{h_response.entity.cityID}}</td>
    </tr>
    <tr>
      <td style="text-align: left">Message</td>
      <td> :</td>
      <td>{{h_response.message}}</td>
    </tr>
  </table>

  <div *ngIf="h_response.insertingStatus == false" style="text-align: left" ng>
    <h3>Response</h3>
    <table>
      <tr>
        <td style="text-align: left">Message</td>
        <td> :</td>
        <td>{{h_response.message}}</td>
      </tr>
    </table>
  </div>



