<div id="wrapper">
  <div id="search" class="cities" style="text-align: left">
    <h4>Search Cities</h4>
    <form>
      <table>
        <tr>
          <td style="text-align: left">
            <input type="text" class="txt" placeholder="Name or Alias.." [(ngModel)] = "alias" name="alias-or-name">
          </td>
          <td style="text-align: left">
            <input type="submit" class="btn" (click)="getCitiesByAlias()" value="Search">
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div id="list" class="cityListByAlias" style="text-align: left">
    <li *ngFor="let city of cityList">
      <br>
      <table>
        <tr>
          <td style="text-align:left">City ID</td>
          <td> :</td>
          <td style="text-align: left">{{city.cityID}}</td>
        </tr>
        <tr>
          <td style="text-align:left">City Name</td>
          <td> :</td>
          <td style="text-align: left">{{city.cityName}}</td>
        </tr>
        <tr>
          <td style="text-align:left">Country Name</td>
          <td> :</td>
          <td style="text-align: left">{{city.countryName}}</td>
        </tr>
      </table>
      <hr>
    </li>
  </div>
</div>

