li{
  list-style-type: none;
}

.customerListByAlias
{
  max-height: 580px;
  overflow-y: scroll;
}

#wrapper {
  width:1200px;
  clear:both;
}
#search1 {
  width:500px;
  float:left;
}
#search2 {
  margin-left: 50px;
  width:500px;
  float:left;
}
