<body>
  <div style="text-align: left">
    <h1>{{title}}</h1>
    <ul>
      <li><a class="active" routerLink="">Home</a></li>
      <li><a class="active" routerLink="/hotels">Hotels</a></li>
      <li><a class="active" routerLink="/roomTypes">Room Types</a> </li>
      <li><a class="active" routerLink="/searchReservations">Search Reservations</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Contracts</a>
        <div class="dropdown-content">
          <a routerLink="/newContract">Add New Contract</a>
          <a routerLink="/contractDetails">View Contract Details</a>
        </div>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</body>
