li{
  list-style-type: none;
}

.reservationsList
{
  max-height: 480px;
  overflow-y: scroll;
}

#wrapper {
  width:1250px;
  clear:both;
}
#search {
  width:700px;
  float:left;
}
#list {
  width:500px;
  float:left;
}

#home {
  width:1000px;
  clear:both;
}

#heading {
  font-family: Calibri;
  color: darkorange;
}
