<div id = "home" class="home">
  <h2 id="heading">
    Welcome to Sun Travels !
  </h2>
</div>
<h4>Search for available reservations</h4>
<div id="wrapper">
  <div id="search" class="searchReservations" style="text-align: left">
    <form>
      <table>
        <tr>
          <td style="text-align:left">CheckIn Date</td>
          <td> :</td>
          <td style="text-align:left"><input type="date" class="txt" [(ngModel)]="reservationSearch.checkInDate" name="s_checkIn"></td>
        </tr>
        <tr>
          <td style="text-align:left">Number of Nights</td>
          <td> :</td>
          <td style="text-align:left"><input type="number" class="txt" [(ngModel)]="reservationSearch.numberOfNights" name="s_nights"></td>
        </tr>
        <tr>
          <td style="text-align:left">Number of Rooms</td>
          <td> :</td>
          <td style="text-align:left"><input type="number" class="txt" [(ngModel)]="reservationSearch.numberOfRooms" name="s_rooms"></td>
        </tr>
        <tr>
          <td style="text-align:left">Total Number of Adults</td>
          <td> :</td>
          <td style="text-align:left"><input type="number" class="txt" [(ngModel)]="reservationSearch.totalAdults" name="s_adults"></td>
        </tr>
        <tr>
          <td style="text-align:left">Maximum Number of Adults per Room</td>
          <td> :</td>
          <td style="text-align:left"><input type="number" class="txt" [(ngModel)]="reservationSearch.requestedMaxAdultsPerRoom" name="s_max_adults"></td>
        </tr>
        <br>
        <tr>
          <td style="text-align: left">
            <input type="submit" class="btn" (click)="search()" value="Search">
          </td>
        </tr>
      </table>
    </form>
  </div>

  <div id="list" class="reservationsList" *ngIf="requestValidity == true && reservationResults?.length > 0" style="text-align: left">
    <li *ngFor="let result of reservationResults">
      <table>
        <tr>
          <td style="text-align: left">Number of available reservations = {{reservationResults?.length}}</td>
        </tr>
        <br>
        <tr>
          <td style="text-align:left">Hotel Name</td>
          <td> :</td>
          <td style="text-align: left">{{result.hotelName}}</td>
        </tr>
        <tr>
          <td style="text-align:left">Room Type</td>
          <td> :</td>
          <td style="text-align: left">{{result.roomType}}</td>
        </tr>
        <tr>
          <td style="text-align:left">Marked-up Price</td>
          <td> :</td>
          <td style="text-align: left">{{result.markedUpPrice}} USD</td>
        </tr>
        <tr>
          <td style="text-align:left">Availability of Rooms</td>
          <td> :</td>
          <td style="text-align: left">{{result.roomsAvailability}}</td>
        </tr>
      </table>
      <hr>
    </li>
  </div>

  <div id="empty-list" class="emptyReservationsList" *ngIf="requestValidity == true && reservationResults?.length == 0" style="text-align: left">
    <table>
      <tr>
        <td style="text-align:left">Sorry ! No reservations available at the moment</td>
      </tr>
    </table>
  </div>

  <div id="missing-values" class="error" *ngIf="requestValidity == false" style="text-align: left">
    <table>
      <tr>
        <td style="text-align:left">{{message}}</td>
      </tr>
    </table>
  </div>

</div>




