li{
  list-style-type: none;
}

.reservationsList
{
  max-height: 480px;
  overflow-y: scroll;
}

#wrapper {
  width:1250px;
  clear:both;
}
#search {
  width:700px;
  float:left;
}
#list {
  width:550px;
  float:left;
}
#empty-list {
  width:550px;
  float:left;
}
#home {
  width:1000px;
  clear:both;
}
#heading {
  font-family: Calibri;
  color: darkorange;
}

.btn {
  background-color: darkorange;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-family: Calibri;
  font-style: bold;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.txt {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
