<div id="wrapper">
  <div id="search" class="countries" style="text-align: left">
    <h4>Search Countries</h4>
    <form>
      <table>
        <tr>
          <td style="text-align: left">
            <input type="text" class="txt" placeholder="Name or Alias.." [(ngModel)] = "alias" name="alias-or-name">
          </td>
          <td style="text-align: left">
            <input type="submit" class="btn" (click)="getCountriesByAlias()" value="Search">
          </td>
        </tr>
      </table>
    </form>
  </div>

  <div id="list" class="countryListByAlias" style="text-align: left" *ngIf="requestValidity == true && countryList?.length > 0">
    <li *ngFor="let co of countryList">
      <br>
      <table>
        <tr>
          <td style="text-align:left">Country ID</td>
          <td> :</td>
          <td style="text-align: left">{{co.countryID}}</td>
        </tr>
        <tr>
          <td style="text-align:left">Country Name</td>
          <td> :</td>
          <td style="text-align: left">{{co.countryName}}</td>
        </tr>
      </table>
      <hr>
    </li>
  </div>

  <div id="empty-list" class="emptyCountryList" *ngIf="requestValidity == true && countryList?.length == 0" style="text-align: left">
    <table>
      <tr>
        <td style="text-align:left">No matching countries exist for the given name</td>
      </tr>
    </table>
  </div>

  <div id="missing-values" class="error" *ngIf="requestValidity == false" style="text-align: left">
    <table>
      <tr>
        <td style="text-align:left">{{message}}</td>
      </tr>
    </table>
  </div>

</div>

