li{
  list-style-type: none;
}

.countryListByAlias
{
  max-height: 400px;
  overflow-y: scroll;
}

#wrapper {
  width:1800px;
  clear:both;
}
#search {
  width:430px;
  float:left;
}
#list {
  margin-top: 45px;
  width:800px;
  float:left;
}

