<!--<div>-->
  <!--<table>-->
    <!--<tr>-->
      <!--<td>Check in date</td>-->
      <!--<td> :</td>-->
      <!--<td><input type="date" name="checkInDate" class="form-control"></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>Number of nights</td>-->
      <!--<td> :</td>-->
      <!--<td><input type="number" name="numberOfNights" class="form-control"></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>Number of rooms</td>-->
      <!--<td> :</td>-->
      <!--<td><input type="number" name="numberOfRooms" class="form-control"></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>Number of adults per room</td>-->
      <!--<td> :</td>-->
      <!--<td><input type="number" name="numberOfAdults" class="form-control"></td>-->
      <!--&lt;!&ndash;get the no of adults per room as an array/list&ndash;&gt;-->
    <!--</tr>-->
  <!--</table>-->
<!--</div>-->
<!--    *         ************* -->
<div>
  <table>
    <tr>
      <td>Check in date</td>
      <td> :</td>
      <td><input #checkInDate type="date" class="form-control"></td>
    </tr>
    <tr>
      <td>Number of nights</td>
      <td> :</td>
      <td><input #numberOfNights type="number" class="form-control"></td>
    </tr>
    <tr>
      <td>Number of rooms</td>
      <td> :</td>
      <td><input #numberOfRooms type="number" class="form-control"></td>
    </tr>
    <tr>
      <td>Number of adults per room</td>
      <td> :</td>
      <td><input #numberOfAdults type="number" class="form-control"></td>
      <!--get the no of adults per room as an array/list-->
    </tr>
  </table>
  <br>
  <button (click)="onClick()">

  </button>
</div>




