<div class="searchReservations" style="text-align: left">
  <h3>Search for available reservations at Sun Travels</h3>
  <form>
    <table>
      <tr>
        <td style="text-align:left">CheckIn Date</td>
        <td> : </td>
        <td style="text-align:left"><input type="date" class="txt" [(ngModel)]="checkInDate" name="s_checkIn"></td>
      </tr>
      <tr>
        <td style="text-align:left">Number of Nights</td>
        <td> : </td>
        <td style="text-align:left"><input type="number" class="txt" [(ngModel)]="numberOfNights" name="s_nights"></td>
      </tr>
      <tr>
        <td style="text-align:left">Number of Rooms</td>
        <td> : </td>
        <td style="text-align:left"><input type="number" class="txt" [(ngModel)]="numberOfRooms" name="s_rooms"></td>
      </tr>
      <tr>
        <td style="text-align:left">Number of Adults per each Room</td>
        <td> : </td>
        <td style="text-align:left"><input type="number" class="txt" [(ngModel)]="testnumberOfAdultsPerRoom" name="s_adults"></td>
      </tr>
      <tr>
        <td style="text-align: left">
          <input type="button" class="btn" (click)="search()" value="Search" routerLink="/results">
        </td>
      </tr>
    </table>
  </form>
  <router-outlet></router-outlet>
</div>

