<body>
  <form>
    <table target="_self" method="POST">
      <tr>
        <td>Check in date</td><td> : </td><td><input type="text" name="checkInDate"></td>
      </tr>
      <tr>
        <td>Number of nights</td><td> : </td><td><input type="text" name="numberOfNights"></td>
      </tr>
      <tr>
        <td>Number of rooms</td><td> : </td><td><input type="number" name="numberOfRooms"></td>
      </tr>
      <tr>
        <td>Number of adults per room</td><td> : </td><td><input type=number name="numberOfAdults"></td>
        <!--get the no of adults per room as an array/list-->
      </tr>

      <tr>
        <td><input type="submit" value="Search For Reservations" name="submit"></td>
      </tr>
    </table>
  </form>
</body>

